body {
    background-color: #FF204E;
    color:black;
    font-size: 1.1em;
}
h1 {
    color: #00224D;
}
#intro {
    font-size: 1.3em;
}
.colorful {
    color:#5D0E41;
}
a{
    color:#5D0E41;
    text-decoration: none;
}